<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Table</title>
    <link href='https://fonts.googleapis.com/css?family=Rock+Salt' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="css/styletable.css" type="text/css">
</head>
<body>

<div class="buttonWrapper">
    <input class="calendar" type="date" name="calendar">
    <button class="sendBtn">Подтвердить</br>баллы</button>
</div>

<div style="display: flex;">
<div class="number bodyContainer"></div>
    <div class="randomizer">
        <div style="height: fit-content">
            <div>Задает</div>
            <div class="kek asker">0</div>
            <div >Отвечает</div>
            <div class="kek answerer">0</div>
        </div>
        <div class="knopka">Следующий</div>
    </div>
</div>
<!--<table>-->
<!--    <thead>-->
<!--    <tr>-->
<!--        <th scope="col" class="row">№</th>-->
<!--        <th scope="col">ФИО ученика</th>-->
<!--        <th scope="col">Первичные баллы</th>-->
<!--        <th scope="col">Заработанные баллы</th>-->
<!--        <th scope="col">Ответ</th>-->
<!--        <th scope="col">Вопрос</th>-->
<!--        <th scope="col" class="minWidth">Присутствие</th>-->
<!--    </tr>-->
<!--</table>-->

<script src="script/script2.js"></script>
</body>
</html>