<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Table</title>
    <link href='https://fonts.googleapis.com/css?family=Rock+Salt' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="css/index.css" type="text/css">
</head>
<body>

<div class="buttonWrapper">
    <input class="calendar" type="date" name="calendar">
    <button class="sendBtn">Подтвердить</br>посещаемость</button>
</div>

<table style="width: 100%">
    <thead>
    <tr>
        <th scope="col" class="row">PK</th>
        <th scope="col">ФИО ученика</th>
        <th scope="col" class="minWidth">Присутствие</th>
    </tr>
    </thead>
    <tbody class="bodyContainer">

    </tbody>

</table>

<script src="script/script.js"></script>
</body>
</html>